/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

/*!!Прописать стили для заголовков на всей странице*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*--------------------*/
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b81151;
    background: linear-gradient(45deg,rgba(184, 17, 81, 1) 0%, rgba(9, 9, 121, 1) 55%, rgba(0, 212, 255, 1) 100%);
}

.header {
    color: white;
    text-align: center;
    font-weight: normal;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    margin-bottom: 30px;
    font-size: 32px;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    letter-spacing: 2px;
}

.form-container {
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    /*background-color: #82ce34;*/
}

.registration {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 50px;
    width: 400px;
    height: 460px;
    box-sizing: border-box;
    backdrop-filter: brightness(60%);
}

.registration-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.registration-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.fieldset-container {
    height: calc(100% - 70px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid color-mix(in srgb, #ededed 10%, #1e1e1e);
}

.field-container {
    width: 100%;
    flex: 33.333%;
    position: relative;
}

.registration-form input,
.registration-form button {
    width: 100%;
    line-height: 40px;
    border-radius: 20px;
    border: none;
    color: white;
}

.registration-form input {
    padding: 30px 20px 15px;
    height: 100%;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    border: 0;
    outline: none;
    font-size: 22px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    width: 100%;
    display: block;
    background: rgba(255, 255, 255, 0);
}

.registration-form label {
    position: absolute;
    left: 10px;
    top: calc(50%);
    transform: translate(0, -50%);
    padding-left: 10px;
    color: rgba(255,255,255,0.8);
    font-size: 18px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 2px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    pointer-events: none;
}

.field-container input:focus + label,
.field-container input:valid + label,
.field-container input:not(:placeholder-shown) + label {
    top: 25%;
    font-size: 14px;
    color: color-mix(in srgb, #ededed 50%, #1e1e1e);
}

.registration-form button {
    background: rgb(45,126,231);
    height: 40px;
    margin-bottom: 0;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.popup-container{
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    width: 100%;
}

.popup {
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    font-family: Arial, sans-serif;
}

.popup.success {
    background-color: #82ce34;
    color: rgba(255,255,255,0.8);
}

.popup.error {
    /*background-color: #c73a35;*/
    background-color: rgba(201, 58, 52, 0.9); /*#c73a35*/
    color: #f8d7da;
}